include columns.pug
-var n = 0
html
  head 
    title 國泰人壽客服輔銷系統
    link(rel='stylesheet' type='text/css' href='./main.css')  
    script(src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js")
    script. 
      WebFont.load({
        google: {
          families: ['Lato', 'Noto Sans TC']
        }
      });
  body
    .popup
      img(src='./asset/cancel.svg').popup__cancel.popup__close
      img(src='./asset/popup-img.svg')
      p 抱歉，您暫無權限
      .btn.popup__close 確認關閉
    .back
    header 
      .header__warning 
        h1 客戶資訊整合查詢
        p -內部客戶資料，嚴禁私用外洩-
      form.header__search 
        .search__input
          .input__label
            input(type='radio' id='id' name='info' value='id') 
            label(for='id') ID
          input(type='text' id='input-id')  
        .search__input
          .input__label
            input(type='radio' id='num' name='info' value='num') 
            label(for='num') 保單
          input(type='text' id='input-num')  
        button(type='submit' class='btn') 查詢 F2
      .header__result
        .result__title
          p 相同 ID 名單 #[span.info#info-sameId]
          .tooltip.tooltip__up.hidden#tooltip-sameId 請依據客戶姓名點選並再點選查詢，僅將客戶基本資料依客戶姓名帶出，其餘資訊請至各交易畫面進行查詢與確認。
        ul.result__list 
          li.btn 林國泰（中華民國）
          li.btn 林國泰（中華民國）
          li.btn 林國泰（中華民國）
        .result__info ・為提供「VIP家戶」更佳服務體驗，新增「VIP家戶」顯示功能且僅供內勤同仁辨識之用，凡查詢結果顯示為「VIP家戶」，切勿主動告知客戶。
      nav.navigation
        ul 
          li.select 個人資訊
          li 待辦事項 #[span.todos 10]
          li 收付款資訊
          li 服務歷程
    main
      section.tables
        table.basic
          thead 
            tr 
              td(colspan='4') 基本資料
          tbody 
            tr 
              th 姓名
              td 林國泰(#[span.tag 要]/#[span 被]) #[span.vip#info-vip VIP 鑽石級] 
                .tooltip.tooltip__up.hidden#tooltip-vip 
                  p.tooltip__title 貴賓別
                  p 國泰人壽白金 VIP (Super-VIP)
              td.warning 姓名不一致
              td 
                a.btn(href='#' target="_blank") 變更
            tr 
              th 生日／年齡 
              td 76/11/26(#[span.tag 31歲])
              td.warning 姓名不一致
              td(rowspan="2").btn__list
                a.btn(href='#' target="_blank") 查詢 
                a.btn(href='#' target="_blank") 變更
            tr
              th 生肖/星座 
              td 兔/射手 
              td 
        table.contact
          thead 
            tr
              td(colspan='5').info 通訊資料
          tbody 
            tr 
              th.info 保單地址（最新異動件）
              td(colspan='2') 台中市北屯區大鵬路陳平里12巷5弄258號6樓之3
              td
                p.warning 同 ID 有不同地址
                p.warning 投遞信件失敗
              td.btn__list
                a.btn(href='#' target="_blank") 整合地址明細
                a.btn(href='#' target="_blank") 地址回報
                a.btn(href='#' target="_blank") 變更
            tr 
              th 手機
              td 
                p 0937463733 
                p.annotate - 線上服務約定支手機兩人共用
              th E-mail 
              td 
                p guotai@email.com 
                p.annotate - 三個月內有曾變更 E-mail
              td(rowspan="2").btn__list
                .btn 電話明細
                .btn 變更
                .btn 通訊資訊回報
                .btn 手機查詢及有誤註記
            tr
              th 住家電話
              td (04) 220002 
              th 公司電話
              td (04) 220002 
        table.event  
          thead 
            tr
              td(colspan=service.length/2) 線上服務 #[span.info]
              td(colspan=service.length/2) 其他服務
          tbody 
            tr 
              each val in service
                th= val
            tr 
              td.success 已申請
              td 一般資格
              td.success 已申請
              td.success 已申請
              td.success 已申請
              td.success 已申請
              td 台、人、美、澳、紐
              td.fail.link 未申辦
              td.success 已申請
              td.success 已申請
        table.customer
          thead 
            td(colspan='4')  客戶事件
          tbody
            tr
              th 風險等級 #[span.info]
              td 一般風險
              td
              td
                a.btn(href='#' target="_blank") 客戶風險等級查詢
            tr
              th 保戶特殊註記
              td 
              td
              td
            tr
              th 特殊備註 #[span.info]
              td
              td
              td
                a.btn(href='#' target="_blank") 編輯與查詢
            tr
              th 客戶 VOC #[span.info]
              td.fail 不推薦 (#[span.info__annotate.link#info-notRecommend 108/3/27 0800 客服])
                .tooltip.tooltip__down.hidden#tooltip-notRecommend 產品沒有比同業優，商品金額也比較貴，不過服務人員服務佳是優點
              td
              td
                a.btn(href='#' target="_blank") VOC 輸入
            tr
              th 申訴紀錄 #[span.info]
              td.fail 無紀錄
              td
              td
                a.btn(href='#' target="_blank") 查詢
            tr
              th 保單借款歸戶 #[span.info]
              td 涉及計算故查詢所需時間將較久
              td
              td
                a.btn(href='#' target="_blank") 查詢
            tr
              th 客戶保障 #[span.info]
              td 連結 CRM 保單健檢
              td
              td 
                a.btn(href='#' target="_blank") 保單健檢
        table.products
          thead 
            td(colspan=productInfo.length) 保單資訊
            tr.products__titles
              each val in productInfo 
                td.subhead
                  .subhead__wrapper
                    p.order__key= val.name
                    div.order.up
          tbody 
            while n < 50
              tr
                td= n++
                td 
                  a.link 48677377322
                  a.link A77536Y
                td HN1富貴保本三福
                td 
                  p 林國泰
                  p.type 公司件
                td H123456789
                td 76/11/26
                td 林國泰
                td H123456789
                td 76/11/26
                td 
                  p 終身險滿期
                  p 逾期
                td 
                  a.link 48677377322
                  p 扣繳/自繳
                td 0
                td 0/0 
                td 0
        .pagination
          img(src='./asset/left2.svg').pagination__btn 
          img(src='./asset/left.svg').pagination__btn
          ul.pagination__page
            li.now 1
            li 2
          img(src='./asset/right.svg').pagination__btn
          img(src='./asset/right2.svg').pagination__btn
  script(src='./app.js')
